<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Source Field:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
				        <select id="sourceFieldsList" name="sourceFieldsList">
	            #foreach ($val in ${val-sourceFieldsList})
	                <option value="${val.id}"
	                #if(${val.id.equals($val-sourceFieldSelected.id)})
	                    SELECTED
	                #end
                >${val.name}</option>
	            #end
	        </select>
        <br><font size="1">Choose the source field.</font>
    </td>
</tr>
<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Destination Field:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
				        <select id="destinationFieldsList" name="destinationFieldsList">
	            #foreach ($val in ${val-destinationFieldsList})
                <option value="${val.id}"
	                #if(${val.id.equals($val-destinationFieldSelected.id)})
	                    SELECTED
	                #end
                >${val.name}</option>
            #end
	        </select>
        <br><font size="1">Choose the destination field.</font>
    </td>
</tr>