<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Field:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
				        <select id="fieldsList" name="fieldsList">
	            #foreach ($val in ${val-fieldsList})
	                <option value="${val.id}">${val.name}</option>
	            #end
	        </select>
        <br><font size="1">Choose the field that will be evaluated.</font>
    </td>
</tr>
<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Condition:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <select id="conditionList" name="conditionList">
            #foreach ($val in ${val-conditionList})
	                <option value="${val.id}">${val.value}</option>
            #end
        </select>
		        <br><font size="1">Choose a condition for the comparison.</font>
    </td>
</tr>
<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Value:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <input type="text" id="fieldValue" name="fieldValue" value=""/>
        <br><font size="1">Value with which the field will be compared.</font>
    </td>
</tr>
<tr bgcolor=ffffff>
    <td align="right" valign="top" bgcolor="fffff0">
        <span class="label">Comparison Type:</span>
    </td>
    <td bgcolor="ffffff" nowrap>
        <select id="comparisonType" name="comparisonType">
            #foreach ($val in ${val-comparisonList})
	                <option value="${val.id}">${val.value}</option>
            #end
        </select>
		        <br><font size="1">Choose the type of comparison.</font>
    </td>
</tr>
<tr>
    <td colspan="2">
    	    <div style="width: 70%;" class="infoBox centred">
    	        If you choose the comparisson type String, only '=' and '!=' are valid options.
    	    </div>
    	</td>
</tr>
