<tr bgcolor=ffffff>
  <td align="right" valign="top" bgcolor="fffff0">
    <span class="label">User must be:</span>
  </td>
  <td bgcolor="ffffff" nowrap>
    <select id="allowUserInField" name="allowUserInField">
	  <option value="true"
	  #if($!{allowUserInField-selected}) selected #end
	  >in field</option>
	  <option value="false"
	  #if(!$!{allowUserInField-selected}) selected #end
	  >not in field</option>
    </select>
	<br><font size="1">Decide whether to allow only the user in the field, or anyone *except* the user in the field.</font>
  </td>
</tr>
<tr bgcolor=ffffff>
  <td align="right" valign="top" bgcolor="fffff0">
    <span class="label">Field:</span>
  </td>
  <td bgcolor="ffffff" nowrap>
	<select id="fieldsList" name="fieldsList">
	#foreach ($val in ${val-fieldsList})
      <option value="${val.id}"
	  #if($!{val.id.equals($val-fieldSelected.id)}) SELECTED #end
      >${val.name}</option>
    #end
	</select>
    <br><font size="1">Choose the field that will be evaluated.</font>
  </td>
</tr>

