<script language="JavaScript" type="text/javascript">
<!--
    var fields = new Array(${fields.size()});
    #foreach ($field in ${fields})
    fields[${velocityCount} - 1] = '$field.id';
    #end

    function retoreFieldValue()
    {
        var selectedValue = document.getElementById("updateFieldId").value;
        
        for (i=0 ; i < fields.length ; i++)
        {
            if (fields[i] == selectedValue)
            {
                document.getElementById(fields[i] + "_container").style.display = '';
                if (document.getElementById(fields[i]) == null) alert(fields[i]);
                document.getElementById(fields[i]).name = 'fieldValue';
            }
            else
            {
                document.getElementById(fields[i] + "_container").style.display = 'none';
                document.getElementById(fields[i]).name = 'dummyfield';
            }
        }

    }

//-->
</script>

<tr>
    <td class="fieldLabelArea">
        Issue Custom Field:
    </td>
    <td nowrap>
        <select name="fieldId" id="updateFieldId" onchange="retoreFieldValue();">
        #foreach ($field in ${fields})
            <option value="$field.id"
            #if ($field.id.equals($fieldId))
                SELECTED
            #end
            >${descriptor.getText($field.nameKey)}</option>
        #end
        </select>
        <br /><span class="subText">The custom field to change.</span>
    </td>
</tr>


<tr>
    <td class="fieldLabelArea">
        Custom Field Value:
    </td>
        #foreach ($field in ${fields})
            <td nowrap id="${field.id}_container">
                <textarea rows="10" cols="35" type="text" name="${field.id}" id="${field.id}">$!{fieldValue}</textarea>
                <br /><span class="subText">The value of the custom field to set.</span>
            </td>
        #end
     
</tr>
<script language="JavaScript" type="text/javascript">
<!--
    retoreFieldValue();
    setTimeout('retoreFieldValue()', 20);
//-->
</script>
<tr>
    <td colspan="2">
        <div style="width: 60%;" class="infoBox centred">
            Please make sure that the value you set is valid for the project using this workflow. <br> Otherwise, the transition may fail at execution time. 
        </div>
    </td>
</tr>

