#if (${fieldValue}  && $fieldValue.length() != 0 && ${fieldValue} != 'null')
    $i18n.getText("admin.workflow.function.update-issue-field.view.1", "<b>", "${descriptor.getText($fieldId)}", "</b>", "${fieldValue}")
#else
    $i18n.getText("admin.workflow.function.update-issue-field.view.2", "<b>", "${descriptor.getText($fieldId)}", "</b>", "")
#end